<form action="" method="post">
  <label for="forTitleOfBlog">Title</label>
  <input  class="title"type="text" name="Title">
  <label for="forBlog">Blog Content</label>
  <textarea name="Blog">Add your Blog Post here</textarea>
  <button class="submit-button" name="button">Submit</button>
</form>
