<form class="form" action="" method="post">
  <label for="forTitleOfBlog">Title</label>
  <input  type="text" >
  <label for="forBlog">Blog Content</label>
  <input  type="text" >
  <button class="submit-button" name="button" type="submit">Submit</button>
</form>
